.monaco-editor .overflow-guard {

	--mm-scrollbar-width: 0px;
	--mm-background-color: #252526;

	display: flex;
	flex-direction: column;

	&:hover {
		--mm-scrollbar-width: 14px;
	}

	.overlayWidgets {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: relative !important;
		/* @note - 1 more than the minimap, to ensure the widgets are always on top of the minimap */
		z-index: 12;
		/*0;*/
		gap: 0px;
		margin-bottom: 15px;
		width: calc(100% - var(--mm-scrollbar-width)) !important;
		transition: width 50ms linear;

		/* @!note - VERY IMPORTANT; without these two rules the entire widget container (which is 100% of the width) will block clicks on text "behind" it, even if there are no actual widgets covering the text */
		pointer-events: none;

		> * {
			pointer-events: all;
		}

		.sticky-widget {
			position: relative !important;
			transition: height 75ms linear;
			box-shadow: -5px 0 20px 2px var(--ts-dark) !important;
			outline: unset;
			border-bottom: unset;
			opacity: 0.95;
			transition: opacity 50ms linear;

			&:hover {
				opacity: 1;
			}

			&:has(.sticky-widget-line-numbers:empty) {
				display: block !important;
				height: 0px !important;
				padding: 0 !important;
			}
		}


		.editor-widget.find-widget {
			/* position: relative !important; */
			right: 0 !important;
			box-shadow: -8px 8px 8px 0px var(--vscode-widget-shadow);
			/* top: 1px !important; */
			outline: unset;
			background: rgb(from var(--vscode-editorWidget-background) calc(r - 15) calc(g - 15) calc(b - 15));
			/*background: var(--vscode-editorStickyScroll-background);*/
			border: unset !important;
			border-bottom-right-radius: 0px;
			opacity: 0.1;
			transition: opacity 50ms linear, transform 100ms linear;

			&:hover,
			&:focus,
			&:focus-within {
				opacity: 1;
			}

			> .button.toggle {
				border-radius: 0;
				box-sizing: border-box;
				height: auto;
				left: 3px;
				position: absolute;
				top: 0;
				inset: 3px auto 6px 3px;
				width: 16px;

				&::before {
					/*width: 14px !important;
                    height: 14px !important;*/
					font-size: 14px;
				}
			}

			> .monaco-sash {
				background: transparent;
			}
		}
	}

	.minimap.slider-mouseover.autohide {
		/* @note - this is the minimap; we need position absolute so it can appear UNDER the widgets */
		/* position: relative !important; */
	}

	.monaco-scrollable-element {
		> .scrollbar.vertical {
			/*--mm-scrollbar-width-actual: calc(var(--mm-scrollbar-width) - 2px);*/
			width: var(--mm-scrollbar-width, 14px) !important;
			transition: width 50ms linear;
			border-left: 1px solid var(--mm-background-color);


			&.visible,
			&.fade {
				/*background: rgb(from var(--vscode-editorStickyScroll-background) calc(r - 10) calc(g - 10) calc(b - 10) / 1);*/
				/*outline: 1px solid var(--vscode-editorStickyScroll-border);*/
			}
		}

		> .decorationsOverviewRuler {
			/*background-color: aliceblue;*/
			/*z-index: 99999;*/
			width: var(--mm-scrollbar-width) !important;
			transition: width 50ms linear;

			&:hover {
				opacity: 1;
			}
		}
	}
}